.Header {
  padding-top: 2rem;
}
.main-swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 40vh;
}

.slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
